<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
        
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>

            <form th:action="@{/fornecedor/(form)}" th:object="${fornecedor}" method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtnome">nome</label>
                            <input type="text"  th:field="*{nome}" id="txtfornecedor" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txturlAPI">urlAPI</label>
                            <input type="text" th:field="*{urlAPI}" id="txturlAPI" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txturlAPIauth">urlAPIauth</label>
                            <input type="text" th:field="*{urlAPIauth}" id="txturlAPIauth" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtusuario">usuario</label>
                            <input type="text" th:field="*{usuario}" id="txtusuario" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtsenha">senha</label>
                            <input type="password" th:field="*{senha}" id="txtsenha" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit">Enviar</button>

            </form>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>    